*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    height: 80px;
    width: 100%;
    background: burlywood;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
     float: right; 
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
   color: yellow ;
   font-size: 18px; 
   text-transform: uppercase;
   border: 1px solid transparent;
   padding: 7px 10px;
   border-radius:3px;
}
a.active,a:hover{
    border: 1px solid blue;
    transition: .5s;
}
nav #icon{
    color   : red;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;

}
@media(max-width:1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
        color: aqua;
    }
    nav ul{
        margin-right: 40px;

    }
    nav a{
        font-size: 17px;
    }
}
@media(max-width: 909px){
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #0ce53f;
        color: darkorange;
        top:80px;
        left:0;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active, a:hover{
        border: none;
        color: #3498db;
    }
    nav ul.show{
        left: 0;
    }
}
 section{
    background: url(/images/perso-car.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
 }